@media screen and (max-width: 800px) {
  #header {
    padding: 10px 20px;
    font-size: 22px;

    nav {
      margin-top: 24px;
    }
  }
  .title {
    font-size: 45px;
    margin-top: 30px;
  }
  .title-a {
    font-size: 18px;
  }
  .portada {
    height: auto;

    .button {
      margin-bottom: 40px;
    }
  }
  .portada-container {
    height: auto;
  }
  .title-b {
    text-align: center;
    font-size: 28px;
  }
  .guitarras {
    padding: 10px;
    text-align: center;
  }
  .right, .left {
    width: 400px;
    position: static;
    top: 0;
    left: 0;
  }
  .guitarra-container-left {
    margin: 0;
  }
  #footer {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;

    input,textarea {
      font-size: 13px;
    }
    .contacto {
      width: 233px;
    }
    .col1 {
      margin-right: 8px;
    }
    .formulario {
      width: 428px;
    }
  }
}

@media screen and (max-width: 650px) {

  #header {
    text-align: center;

    nav {
      float: none;
      display: block;
    }
    a {
      font-size: 25px;
    }
    li:first-child {
      margin-left: 0;
    }
  }

  #footer {
    .container {
      display: block;
    }
    .contacto {
      text-align: center;
      width: 100%;
      display: block;
      img {
        display: inline-block;
        margin-bottom: 10px;
      }
      a {
        display: block;
        font-size: 20px;

        span:first-child {
          margin-bottom: 20px;
        }
      }

      strong{
        font-size: 20px;
      }
    }
    .formulario {
      font-size: 15px;
      width: 70%;
      margin: auto;
      text-align: left;
      display: block;

      .col1 {
        margin-top: 20px;
      }

      .col2 {
        align-items: center;
      }
      textarea {
        width: 100%;
      }
      .intereses label {
        display: block;
        text-align: left;
      }
      input[type=text],
      input[type=email] {
        height: 35px;
      }
    }
  }

}

@media screen and (max-width: 500px) {

  #header {

    .menu {
      margin: 0;
      background: rgba(255, 60, 88, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul {
        width: 100%;
      }
    li {
      display: block;
      margin: 0;
      border-bottom: 1px solid #fff;
      padding: 10px 0;
      width: 100%;
    }
    li:before{
      display: none;
    }
    a {
      font-weight: bold;
    }
    li:first-child{
      border-top: 1px solid #fff;
    }
  }
}
  .portada-container {
    align-items: center;
  }
  .title {
    font-size: 30px;
    text-align: center;
  }
  .title-a {
    font-size: 16px;
  }
  .right,.left {
    width: 200px;
  }
  .guitarras {
    li {
      font-size: 16px;
    }
    h2 {
    font-size: 30px;
    }
 }

 .burger-button {
   z-index: 2;
   display: block;
 }
}
